// catppuccin-macchiato palette
$macchiato-rosewater: #f4dbd6;
$macchiato-flamingo: #f0c6c6;
$macchiato-pink: #f5bde6;
$macchiato-mauve: #c6a0f6;
$macchiato-red: #ed8796;
$macchiato-maroon: #ee99a0;
$macchiato-peach: #f5a97f;
$macchiato-yellow: #eed49f;
$macchiato-green: #a6da95;
$macchiato-teal: #8bd5ca;
$macchiato-sky: #91d7e3;
$macchiato-sapphire: #7dc4e4;
$macchiato-blue: #8aadf4;
$macchiato-lavender: #b7bdf8;
$macchiato-text: #cad3f5;
$macchiato-subtext1: #b8c0e0;
$macchiato-subtext0: #a5adcb;
$macchiato-overlay2: #939ab7;
$macchiato-overlay1: #8087a2;
$macchiato-overlay0: #6e738d;
$macchiato-surface2: #5b6078;
$macchiato-surface1: #494d64;
$macchiato-surface0: #363a4f;
$macchiato-base: #24273a;
$macchiato-mantle: #1e2030;
$macchiato-crust: #181926;

// Ubuntu Sans Mono Nerd Font Mono
@font-face {
  font-family: 'USMNFM';
  src: url('../font/UbuntuSans/UbuntuSansMonoNerdFontMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// Ubuntu Sans Mono Nerd Font Mono Bold
@font-face {
  font-family: 'USMNFM-B';
  src: url('../font/UbuntuSans/UbuntuSansMonoNerdFontMono-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import "../node_modules/bootstrap/scss/functions";

// default variable overrides


@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// default map overrides

@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/root";

// @import "../node_modules/bootstrap/scss/utilities";
// @import "../node_modules/bootstrap/scss/reboot";
// @import "../node_modules/bootstrap/scss/type";
// @import "../node_modules/bootstrap/scss/images";
// @import "../node_modules/bootstrap/scss/containers";
// @import "../node_modules/bootstrap/scss/grid";
// @import "../node_modules/bootstrap/scss/helpers";

// @import "../node_modules/bootstrap/scss/utilities/api";

#body {
  font-family: 'USMNFM';
  font-size: 18pt;
  color: $macchiato-text;
}

#footer {
  font-size: 10pt;
}

#navbar {
  font-size: 12pt;
}

.link {
  color: $macchiato-teal;
}

.file {
  color: $macchiato-red;
}

#current-page {
  font-family: 'USMNFM-B';
  color: $macchiato-rosewater;
}

#contact {
  color: $macchiato-sapphire;
}

.dropdown-item {
  font-size: 10pt;
}

.heading1 {
  font-family: 'USMNFM-B';
  color: $macchiato-blue;
}

.heading3 {
  font-family: 'USMNFM-B';
  color: $macchiato-green;
}

#button {
  color: $macchiato-crust;
  background-color: $macchiato-pink;
  border-color: $macchiato-crust;
}

.card-title {
  font-weight: bold;
  color: $macchiato-mauve;
  font-size: 18pt;
}

.card-text {
  font-size: 12pt;
}

.paragraph {
  text-align: justify;
  font-size: 16pt;
}

.article-title {
  font-styile: italic;
  font-weight: bold;
  color: $macchiato-green;
}
